<h1><%= @survivor.name %></h1>

<h3>Realm: <%= @survivor.realm %></h3>
<h3>Power: <%= @survivor.power %></h3>
<h3>Weapon: <%= @survivor.weapon %></h3>
<h3>Speed: <%= @survivor.speed %></h3>
<h3>Terror Radius: <%= @survivor.terror_radius %></h3>
<h3>Height: <%= @survivor.height %></h3>
<p>Overview: <br><%= @survivor.overview %></p> 
<p>Lore: <br><%= @survivor.lore %></p> 
<h3>Difficulty: <%= @survivor.difficulty %></h3>
<h3>DLC: <%= @survivor.dlc %>
<%# <h3>Perks: <%= @survivor_chosen.survivor_perks %></h3> %>